


<a href="https://remotestack.io/angular-custom-popup-notification-with-sweetalert2/">To install SweetAlert2: </a>



<a href="https://sweetalert2.github.io/v10.html">See also:



<div>
  <button class="btn" (click)="simpleAlertBox()">Simple alert</button>
  <button class="btn" (click)="alertConfirmation()">Confirmation alert</button>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
